.img-list {
    list-style-type: none;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

.page-header {
  background: #aebcfb; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#aebcfb, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#aebcfb, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#aebcfb, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#aebcfb, white); /* Standard syntax (must be last) */
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 0px;
  background-color: #fff;
}

.bs-docs-footer {
  position: static;
  background-color: #2a2730;
  color: #99979c;
  padding-bottom: 90px;
  padding-top: 80px;
  text-align: center;
}

.add-margin {
  margin-bottom: 100px;
}